body {
    background: #fff;
}

i {
    margin-right: 5px;
}

input {
    border-radius: 2px !important;
}

.el-table {
    border-left: 1px solid #ebeef5;
    border-right: 1px solid #ebeef5;
}

thead th {
    background: #F0F2F4 !important;
    color: #33363A;
}

.el-table--striped .el-table__body tr.el-table__row--striped td {
    background: #F3F4F4;
}

.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
    background-color: #FEEDEF;
}

.el-select-dropdown__item.selected {
    color: #BF0505;
}

.btn-wrap {
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
}

.btn-wrap .btn {
    background: rgb(255, 67, 67);
    width: 160px;
    color: #fff;
    border: 0;
    font-size: 16px;
    outline: none !important;
}

.btn-wrap .btn-margin {
    margin-left: 30px;
}

.btn-wrap .btn:active {
    outline: none !important;
}

/*驳回弹框样式*/
.dialog-title .el-dialog__header {
    background: #F7F9FA;
    padding: 10px;
    text-align: left;
}

.dialog-title .el-dialog__headerbtn {
    top: 8px;
    right: 5px;
}

.dialog-title .el-dialog__footer {
    padding: 20px;
    text-align: center;
}

.dialog-title .el-button {
    padding: 10px 25px;
    background: #E2E2E2;
    color: #666;
    border: 0;
    outline: 0;
    width: 120px;
}

.dialog-title .el-button + .el-button {
    margin-left: 40px;
}

.dialog-title .el-dialog__body {
    padding: 15px;
}

.dialog-title .el-button.el-button--primary {
    background: #FF4343;
    color: #fff;
}

.dialog-title .text-content {
    width: 100%;
    color: #BBBBBB;
    background: #F7F9FA;
    border: 0;
    outline: 0;
}

.dialog-title .payment-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog-title .payment-content p {
    flex: 1;
    text-align: left;
    margin-top: 10px;
}.dialog-title .payment-content p.pd-30 {
     padding-left: 30px;
 }

.dialog-title .payment-content p span {
    color: #333;
}
.dialog-title .payment-content p .detail-title {
    color: #999;
}


